/CCC '01 S2 - SpiralsLATER.py
/CCC '08 J4 - From Prefix to PostfixLATER.py
/CCC '15 J3 - RövarspråketLATER.py
/CCC '16 J4 - Arrival TimeLATER.py
/CCC '19 S1 - FlipperLATER.py
/CCC '23 S1 - TrianglaneLATER.py
/empty.py
/game.py